<!DOCTYPE html>

<html>
<head>
    <link id="_ctl0_Favicon" rel="Shortcut Icon" type="image/ico" href="~/Content/images/roblox.ico">

    <link href="~/Content/css/Badges.css" rel="stylesheet" />
    <link href="~/Content/css/banner-styles.css" rel="stylesheet" />
    <link href="~/Content/css/Frontpage.css" rel="stylesheet" />
    <link href="~/Content/css/iconochive.css" rel="stylesheet" />
    <link href="~/Content/css/Import.css" rel="stylesheet" />
    <link href="~/Content/css/Inbox.css" rel="stylesheet" />

    <link href="~/Content/css/Install.css" rel="stylesheet" />
    <link href="~/Content/css/Membership.css" rel="stylesheet" />
    <link href="~/Content/css/Message.css" rel="stylesheet" />
    <link href="~/Content/css/Roblox.css" rel="stylesheet" />
    <link href="~/Content/css/Roblox(1).css" rel="stylesheet" />
    <link href="~/Content/css/ShareRoblox.css" rel="stylesheet" />
    <link href="~/Content/css/Splash.css" rel="stylesheet" />
    <link href="~/Content/css/Toolbox.css" rel="stylesheet" />
    <link href="~/Content/css/User.css" rel="stylesheet" />

    <meta name="author" content="ROBLOX Corporation">
    <meta name="description" content="ROBLOX is SAFE for kids! ROBLOX is a FREE casual virtual world with fully constructible/desctructible environments and immersive physics. Build, battle, chat, or just hang out.">
    <meta name="keywords" content="game, video game, building game, contstruction game, online game, LEGO game, LEGO, MMO, MMORPG, virtual world, avatar chat">
    <meta name="robots" content="all">

    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
