@model PepDogWebsite.ViewModels.LoginViewModel
@{
    ViewBag.Title = "ROBLOX | Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <body>

            <script type="text/javascript">_uacct = "UA-486632-1"; _udn = "roblox.com"; urchinTracker(); __utmSetVar('Visitor/Anonymous');</script>
            <div id="Container">
                <div id="Header">
                    <div id="Banner" style="background-color: lightsteelblue">
                        <a id="_ctl0_Image1" title="ROBLOX" href="https://web.archive.org/web/20061214110445/http://www.roblox.com/Default.aspx" blankurl="/Thumbs/Blank.ashx?x=267&amp;y=70" imageurl="/images/Logo_267_70.png" style="display:inline-block;BEHAVIOR:url(/web/20061214110445im_/http://www.roblox.com/UI/Image.htc);cursor:hand;"></a>
                    </div>
                </div>
                <div id="Body">

                    <script type="text/javascript">
    function signUp() {
                            window.location = "/Login/New.aspx?ReturnUrl=%2fMP%2fDefault.aspx";
                        }</script>
                    <div id="FrameLogin" style="margin: 150px auto 150px auto; width: 500px; border: black thin solid; padding: 22px;">
                        <div id="PaneNewUser">
                            <h3>New User?</h3>
                            <p>You need an account to play ROBLOX.</p>
                            <p>If you aren't a ROBLOX member then <a href="/Security/Register">register</a>. It's easy and we do <em>not</em> share your personal information with anybody.</p>
                        </div>
                        <div id="PaneLogin">
                            <h3>Log In</h3>
                            <div style="color:red">
                                @Html.ValidationSummary()
                            </div>
                            @using (@Html.BeginForm()) {
                                <table class="AspNet-Login" cellpadding="0" border="0">
                                    <tr>
                                        <td class="TextboxLabel" align="right"><label>User Name:</label></td>
                                        <td>@Html.TextBoxFor(c => c.Username)&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td class="TextboxLabel" align="right"><label>Password:</label></td>
                                        <td>@Html.PasswordFor(c => c.Password)&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td align="right" colspan="2">
                                            <input type="submit" value="Log In" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <a value="reset">Forgot your password?</a>
                                        </td>
                                    </tr>
                                </table>
                            }
                        </div>
                    </div>

                </div>
                <div id="Footer">

                    <hr />
                    <p class="Legalese">
                        ROBLOX, "Online Building Toy", characters, logos, names, and all related indicia are trademarks of <a href="https://web.archive.org/web/20061214110445/http://www.roblox.com/info/About.aspx">ROBLOX Corporation</a>, 2006.  Patents pending.<br />
                        Use of this site signifies your acceptance of the <a id="_ctl0_rbxFooter_hlTermsOfService" href="https://web.archive.org/web/20061214110445/http://www.roblox.com/info/TermsOfService.aspx">Terms and Conditions</a>.<br />
                        <a id="_ctl0_rbxFooter_hlPrivacyPolicy" href="https://web.archive.org/web/20061214110445/http://www.roblox.com/info/Privacy.aspx">Privacy Policy</a> &nbsp;|&nbsp; <a href="https://web.archive.org/web/20061214110445/mailto:info@roblox.com">Contact Us</a> &nbsp;|&nbsp; <a id="_ctl0_rbxFooter_hlAboutRoblox" href="https://web.archive.org/web/20061214110445/http://www.roblox.com/info/About.aspx">About Us</a>
                    </p>

                </div>
            </div>

    </body>
</html>