#FriendliestFolkPane
{
	border-color: #000000;
	border-style: solid;
	border-width: 1px;
	height: 184px;
	margin-top: 10px;
	overflow: auto;
	width: 770px;
}

#FriendliestFolk h4
{
	font-size: 10pt;
	font-weight: bold;
	line-height: 1em;
	margin-bottom: 5px;
	margin-top: 5px;
}
/*
     FILE ARCHIVED ON 15:41:30 Feb 02, 2007 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:14:04 May 06, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.552
  exclusion.robots: 0.064
  exclusion.robots.policy: 0.056
  cdx.remote: 0.051
  esindex: 0.011
  LoadShardBlock: 155.715 (3)
  PetaboxLoader3.datanode: 321.182 (4)
  load_resource: 245.761
  PetaboxLoader3.resolve: 75.156
*/