#InboxContainer
{
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	padding: 10px 10px 10px 10px;
}

#Inbox #Buttons
{
	margin: 10px 0 10px 0;
}

#Inbox #Buttons .Button
{
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	color: #000000;
	font-family: Verdana, Sans-Serif;
	padding: 3px 10px 3px 10px;
	text-decoration: none;
}
/*
     FILE ARCHIVED ON 15:41:09 Feb 02, 2007 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:14:04 May 06, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.047
  exclusion.robots: 0.132
  exclusion.robots.policy: 0.116
  cdx.remote: 0.093
  esindex: 0.013
  LoadShardBlock: 84.114 (3)
  PetaboxLoader3.resolve: 79.147 (2)
  PetaboxLoader3.datanode: 74.553 (4)
  load_resource: 81.039
*/