
@{
    ViewBag.Title = "ROBLOX";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" id="www-roblox-com">
<body>
    <form name="aspnetForm">
        <div id="Container">
            <div id="Header">
                <div id="Banner">
                    <div id="Authentication">
                        <span><a id="ctl00_lsLoginStatus" href="javascript:__doPostBack(&#39;ctl00$lsLoginStatus$ctl02&#39;,&#39;&#39;)">Log In</a></span>
                    </div>
                    <div id="Home"><a id="ctl00_hlHome" class="BannerText" href="https://web.archive.org/web/20070202003743/http://www.roblox.com/Default.aspx">ROBLOX Home</a></div>
                    <div id="Logo"><a id="ctl00_rbxImage_Logo" title="ROBLOX" href="https://web.archive.org/web/20070202003743/http://www.roblox.com/Default.aspx" blankurl="/Thumbs/Blank.ashx?x=267&amp;y=70" imageurl="/images/Logo_267_70.png" style="display:inline-block;BEHAVIOR:url(/web/20070202003743im_/http://www.roblox.com/UI/Image.htc);cursor:hand;"></a></div>
                    <div id="Alerts">
                        <a id="ctl00_rbxAlerts_hlSignupAndPlay" href="https://web.archive.org/web/20070202003743/http://www.roblox.com/Login/New.aspx?ReturnUrl=%2fMP%2fDefault.aspx"><img src="~/Content/images/SignupBanner.png" alt="Sign-up and Play!" border="0"></a>

                    </div>
                </div>
                <div id="Navigation">
                    <span><a id="ctl00_hlMyRoblox" class="MenuItem" href="https://web.archive.org/web/20070202003743/http://www.roblox.com/User.aspx">My ROBLOX</a></span>
                    <span class="Separator">&nbsp;|&nbsp;</span>
                    <span><a id="ctl00_hlGames" class="MenuItem" href="https://web.archive.org/web/20070202003743/http://www.roblox.com/MP/Default.aspx">Games</a></span>
                    <span class="Separator">&nbsp;|&nbsp;</span>
                    <span><a id="ctl00_hlBrowse" class="MenuItem" href="https://web.archive.org/web/20070202003743/http://www.roblox.com/Browse.aspx">Browse</a></span>
                    <span class="Separator">&nbsp;|&nbsp;</span>
                    <span id="ctl00_BadgesMenuItem"><a id="ctl00_hlBadges" class="MenuItem" href="https://web.archive.org/web/20070202003743/http://www.roblox.com/Badges.aspx">Badges</a></span>
                    <span id="ctl00_BadgesMenuItemSeparator" class="Separator">&nbsp;|&nbsp;</span>
                    <span><a id="ctl00_hlForum" class="MenuItem" href="https://web.archive.org/web/20070202003743/http://www.roblox.com/Forum/Default.aspx">Forum</a></span>
                    <span class="Separator">&nbsp;|&nbsp;</span>
                    <span><a id="ctl00_hlNews" class="MenuItem" href="https://web.archive.org/web/20070202003743/http://blog.roblox.com/" target="_blank">News</a>&nbsp;<a id="ctl00_hlNewsFeed" href="https://web.archive.org/web/20070202003743/http://blog.roblox.com/?feed=rss"><img src="~/Content/images/feed-icon-14x14.png" border="0"></a></span>
                    <span class="Separator">&nbsp;|&nbsp;</span>
                    <span><a id="ctl00_hlHelp" class="MenuItem" href="https://web.archive.org/web/20070202003743/http://wiki.roblox.com/" target="_blank">Help</a></span>
                    <span></span>
                </div>
            </div>
            <div id="Body">

                <div id="SplashContainer">
                    <div id="SignInPane">


                        <div id="LoginViewContainer">

                            <div id="LoginView">
                                <h5>Member Log-In</h5>
                                <table id="ctl00_cphRoblox_rbxLoginView_lvLoginView_lSignIn" cellspacing="0" cellpadding="0" border="0">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="AspNet-Login">
                                                    <div class="AspNet-Login-UserPanel">
                                                        <label for="ctl00_cphRoblox_rbxLoginView_lvLoginView_lSignIn_UserName" id="ctl00_cphRoblox_rbxLoginView_lvLoginView_lSignIn_UserNameLabel" class="Label">Character Name</label>
                                                        <input name="ctl00$cphRoblox$rbxLoginView$lvLoginView$lSignIn$UserName" type="text" id="ctl00_cphRoblox_rbxLoginView_lvLoginView_lSignIn_UserName" tabindex="1" class="Text">
                                                    </div>
                                                    <div class="AspNet-Login-PasswordPanel">
                                                        <label for="ctl00_cphRoblox_rbxLoginView_lvLoginView_lSignIn_Password" id="ctl00_cphRoblox_rbxLoginView_lvLoginView_lSignIn_PasswordLabel" class="Label">Password</label>
                                                        <input name="ctl00$cphRoblox$rbxLoginView$lvLoginView$lSignIn$Password" type="password" id="ctl00_cphRoblox_rbxLoginView_lvLoginView_lSignIn_Password" tabindex="2" class="Text">
                                                    </div>
                                                    <!--div class="AspNet-Login-RememberMePanel"-->
                                                    <!--/div-->
                                                    <div class="AspNet-Login-SubmitPanel">
                                                        <a id="ctl00_cphRoblox_rbxLoginView_lvLoginView_lSignIn_Login" tabindex="4" class="Button" href="javascript:__doPostBack(&#39;ctl00$cphRoblox$rbxLoginView$lvLoginView$lSignIn$Login&#39;,&#39;&#39;)">Log In</a>
                                                    </div>
                                                    <div class="AspNet-Login-PasswordRecoveryPanel">
                                                        <a id="ctl00_cphRoblox_rbxLoginView_lvLoginView_lSignIn_hlPasswordRecovery" tabindex="5" href="https://web.archive.org/web/20070202003743/http://www.roblox.com/Login/ResetPasswordRequest.aspx">Forgot your password?</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <div id="Figure"><a id="ctl00_cphRoblox_ImageFigure" disabled="disabled" title="Figure" onclick="return false" blankurl="/Thumbs/Blank.ashx?x=115&amp;y=130" imageurl="/images/figure.png" style="display:inline-block;BEHAVIOR:url(/web/20070202003743im_/http://www.roblox.com/UI/Image.htc);"></a></div>
                    </div>
                    <div id="RobloxAtAGlance">
                        <h2>ROBLOX Virtual Playworld</h2>
                        <h3>ROBLOX is Free!</h3>
                        <ul id="ThingsToDo">
                            <li id="Point1">
                                <h3>Build your personal Place</h3>
                                <div>Create buildings, vehicles, scenery, and traps with thousands of virtual bricks.</div>
                            </li>
                            <li id="Point2">
                                <h3>Meet new friends online</h3>
                                <div>Visit your friend's place, chat in 3D, and build together.</div>
                            </li>
                            <li id="Point3">
                                <h3>Battle in the Brick Arenas</h3>
                                <div>Play with the slingshot, rocket, or other brick battle tools.  Be careful not to get "bloxxed".</div>
                            </li>
                        </ul>
                        <div id="Install">
                            <div id="CompatibilityNote">
                                <div id="ctl00_cphRoblox_pCompatibilityNote">
                                    Works with your<br>Windows PC!
                                </div>
                            </div>
                            <div id="DownloadAndPlay"><a id="ctl00_cphRoblox_hlDownloadAndPlay" href="https://web.archive.org/web/20070202003743/http://www.roblox.com/Login/New.aspx?ReturnUrl=%2fMP%2fDefault.aspx"><img src="~/Content/images/DownloadAndPlay.png" alt="FREE - Download and Play!" border="0"></a></div>
                        </div>
                    </div>
                    <div id="UserPlacesPane">
                        <div id="UserPlaces_Content">
                            <span id="ctl00_cphRoblox_DataListCoolPlace">
                                <span class="CoolPlaceItem">
                                    <span class="UserPlace">
                                        <a id="ctl00_cphRoblox_DataListCoolPlace_ctl00_rbxContentImage" title="Pirate Ship" href="https://web.archive.org/web/20070202003743/http://www.roblox.com/User.aspx?id=169" style="display:inline-block;cursor:hand;"><img src="~/Content/images/missingno.png" border="0"></a>
                                    </span>
                                </span><span class="CoolPlaceItem">
                                    <span class="UserPlace">
                                        <a id="ctl00_cphRoblox_DataListCoolPlace_ctl01_rbxContentImage" title="PilotLuke&#39;s Cloud City" href="https://web.archive.org/web/20070202003743/http://www.roblox.com/User.aspx?id=728" style="display:inline-block;cursor:hand;"><img src="~/Content/images/missingno.png" border="0"></a>
                                    </span>
                                </span><span class="CoolPlaceItem">
                                    <span class="UserPlace">
                                        <a id="ctl00_cphRoblox_DataListCoolPlace_ctl02_rbxContentImage" title="Grey City" href="https://web.archive.org/web/20070202003743/http://www.roblox.com/User.aspx?id=986" style="display:inline-block;cursor:hand;"><img src="~/Content/images/missingno.png" border="0"></a>
                                    </span>
                                </span><span class="CoolPlaceItem">
                                    <span class="UserPlace">
                                        <a id="ctl00_cphRoblox_DataListCoolPlace_ctl03_rbxContentImage" title="Mustafar" href="https://web.archive.org/web/20070202003743/http://www.roblox.com/User.aspx?id=1134" style="display:inline-block;cursor:hand;"><img src="~/Content/images/missingno.png" border="0"></a>
                                    </span>
                                </span><span class="CoolPlaceItem">
                                    <span class="UserPlace">
                                        <a id="ctl00_cphRoblox_DataListCoolPlace_ctl04_rbxContentImage" title="Stairway to Heaven" href="https://web.archive.org/web/20070202003743/http://www.roblox.com/User.aspx?id=1151" style="display:inline-block;cursor:hand;"><img src="~/Content/images/missingno.png" border="0"></a>
                                    </span>
                                </span>
                            </span>
                        </div>
                        <div id="UserPlaces_Header">
                            <h3>Cool Places</h3>
                            <p>Check out some of our favorite ROBLOX places!</p>
                        </div>
                    </div>
                </div>

            </div>
            <div id="Footer">

                <hr>
                <p class="Legalese">
                    ROBLOX, "Online Building Toy", characters, logos, names, and all related indicia are trademarks of <a id="ctl00_Footer1_hlRobloxCorporation" href="https://web.archive.org/web/20070202003743/http://www.roblox.com/info/About.aspx">ROBLOX Corporation</a>, ©2007.  Patents pending.<br>
                    Use of this site signifies your acceptance of the <a id="ctl00_Footer1_hlTermsOfService" href="https://web.archive.org/web/20070202003743/http://www.roblox.com/info/TermsOfService.aspx">Terms and Conditions</a>.<br>
                    <a id="ctl00_Footer1_hlPrivacyPolicy" href="https://web.archive.org/web/20070202003743/http://www.roblox.com/info/Privacy.aspx">Privacy Policy</a> &nbsp;|&nbsp; <a href="https://web.archive.org/web/20070202003743/mailto:info@roblox.com">Contact Us</a> &nbsp;|&nbsp; <a id="ctl00_Footer1_hlAboutRoblox" href="https://web.archive.org/web/20070202003743/http://www.roblox.com/info/About.aspx">About Us</a>
                </p>

            </div>
        </div>
    </form>
</body>
</html>
