@model PepDogWebsite.ViewModels.LoginViewModel
@{
    ViewBag.Title = "ROBLOX";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<body>
    <div id="SplashContainer">
        <div id="SignInPane">
            <div id="LoginViewContainer">
                <div id="LoginView">
                    @if (Session["username"] == null) {
                        <h5>Member Log-In</h5>
                        <div style="color:red">
                            @Html.ValidationSummary()
                        </div>
                        using (Html.BeginForm()) {
                <table cellspacing="0" cellpadding="0" border="0">
                    <tr>
                        <td>
                            <div class="AspNet-Login">
                                <div class="AspNet-Login-UserPanel">
                                    <label class="Label">Character Name</label>
                                    @Html.TextBoxFor(c => c.Username)
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="AspNet-Login">
                                <div class="AspNet-Login-PasswordPanel">
                                    <label class="Label">Password</label>
                                    @Html.PasswordFor(c => c.Password)
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="AspNet-Login">
                                <div class="AspNet-Login-SubmitPanel">
                                    <input tabindex="4" type="submit" value="Log In" />
                                </div>
                                <div class="AspNet-Login-PasswordRecoveryPanel">
                                    <a tabindex="5" href="/">Forgot your password?</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                        }

                    } else {
                        <h5>Logged in:</h5>
                        <table cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="AspNet-Login">
                                            <a disabled="disabled" title="Figure" style-"">
                                                <img src="~/Content/images/figure.png" alt="Sign-up and Play!" border="0" style="margin:auto;display:block;margin-right:20px" />
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    }


                </div>

            </div>
            
            <div id="Figure">
                @if (Session["username"] == null) {
                    <a disabled="disabled" title="Figure" style="display:inline-block;">
                        <img src="~/Content/images/figure.png" alt="Sign-up and Play!" border="0" />
                    </a>
                } else {
                    <a disabled="disabled" title="Figure" style="display:inline-block;">
                    </a>
                }

            </div>
        </div>
        <div id="RobloxAtAGlance">
            <h2>ROBLOX Virtual Playworld</h2>
            <h3>ROBLOX is Free!</h3>
            <ul id="ThingsToDo">
                <li id="Point1">
                    <h3>Build your personal Place</h3>
                    <div>Create buildings, vehicles, scenery, and traps with thousands of virtual bricks.</div>
                </li>
                <li id="Point2">
                    <h3>Meet new friends online</h3>
                    <div>Visit your friend's place, chat in 3D, and build together.</div>
                </li>
                <li id="Point3">
                    <h3>Battle in the Brick Arenas</h3>
                    <div>Play with the slingshot, rocket, or other brick battle tools.  Be careful not to get "bloxxed".</div>
                </li>
            </ul>
            <div id="Install">
                <div id="CompatibilityNote">
                    <div>
                        Works with your<br>Windows PC!
                    </div>
                </div>
                <div id="DownloadAndPlay">
                    @if (Session["username"] == null) {
                        <a href="/Security/Register/">
                            <img src="~/Content/images/DownloadAndPlay.png" alt="FREE - Download and Play!" border="0">
                        </a>
                    }
                </div>

            </div>
        </div>
        <div id="UserPlacesPane">
            <div id="UserPlaces_Content">
                <span>
                    <span class="CoolPlaceItem">
                        <span class="UserPlace">
                            <a title="Pirate Ship" href="https://web.archive.org/web/20070202003743/http://www.roblox.com/User.aspx?id=169" style="display:inline-block;">
                                <img src="~/Content/images/missingno.png" border="0">
                            </a>
                        </span>
                    </span>
                    <span class="CoolPlaceItem">
                        <span class="UserPlace">
                            <a title="PilotLuke&#39;s Cloud City" href="https://web.archive.org/web/20070202003743/http://www.roblox.com/User.aspx?id=728" style="display:inline-block;">
                                <img src="~/Content/images/missingno.png" border="0">
                            </a>
                        </span>
                    </span>
                    <span class="CoolPlaceItem">
                        <span class="UserPlace">
                            <a title="Grey City" href="https://web.archive.org/web/20070202003743/http://www.roblox.com/User.aspx?id=986" style="display:inline-block;cursor:hand;">
                                <img src="~/Content/images/missingno.png" border="0">
                            </a>
                        </span>
                    </span>
                    <span class="CoolPlaceItem">
                        <span class="UserPlace">
                            <a title="Mustafar" href="https://web.archive.org/web/20070202003743/http://www.roblox.com/User.aspx?id=1134" style="display:inline-block;cursor:hand;">
                                <img src="~/Content/images/missingno.png" border="0">
                            </a>
                        </span>
                    </span>
                    <span class="CoolPlaceItem">
                        <span class="UserPlace">
                            <a title="Stairway to Heaven" href="https://web.archive.org/web/20070202003743/http://www.roblox.com/User.aspx?id=1151" style="display:inline-block;cursor:hand;">
                                <img src="~/Content/images/missingno.png" border="0">
                            </a>
                        </span>
                    </span>
                </span>
            </div>
            <div id="UserPlaces_Header">
                <h3>Cool Places</h3>
                <p>Check out some of our favorite ROBLOX places!</p>
            </div>
        </div>
    </div>
</body>